html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --bg-clr: #122c34;
  --bg-clr-transparent: rgba(16, 39, 46, 0.7);
  --bg-clr-lighter: #1a404c;
  --bg-clr-darker: #08242b;
  --lnk-clr: #98ce00;
  --lnk-hover-clr: rgba(152, 206, 0, 0.1);
  --primary-text-color: #ccd6f6;
  --secondary-text-color: #8892b0;

  /* font-size */
  --fnt-xxl: clamp(3.5rem, 8vw, 7rem);
  --fnt-xl: clamp(3.5rem, 5vw, 5rem);
  --fnt-lg: clamp(2.3rem, 4vw, 3rem);
  --fnt-md: clamp(1.6rem, 3vw, 2rem);
  --fnt-sm: clamp(1.4rem, 2vw, 1.6rem);

  /* Other */
  --appear-tr: opacity 0.5s ease, transform 0.5s ease;
  --shadow: 10px 10px 30px -15px rgba(0, 0, 0, 0.4);
}

body {
  position: relative;
  background-color: var(--bg-clr);
}

#main {
  padding: 0 15rem;
  position: relative;
  transition: filter 0.3s ease-in-out;
}

#main.hidden {
  display: none;
}

section,
div {
  transition: var(--appear-tr);
}

span {
  display: block;
  height: 1px;
  width: 100%;
}

h1 {
  color: var(--primary-text-color);
  font-weight: 500;
}

h2,
h3,
h4,
p {
  color: var(--secondary-text-color);
  font-weight: 500;
}

/* SVG stuff Logo*/
#logo {
  transition: all 0.5s ease;
  transform-origin: center;
}

.logo-circle {
  fill: var(--lnk-hover-clr);
  fill-opacity: 0;
  stroke: var(--lnk-clr);
  stroke-width: 0.5em;
  transform-origin: center;
  transition: all 0.2s ease;
}

.logo-text {
  fill: var(--lnk-clr);
  stroke: var(--bg-clr);
  stroke-width: 0.2rem;
  font-family: monospace;
  font-size: 4.5rem;
  font-weight: 800;
}

#logo.center {
  transform: translateX(calc(50vw - 10rem)) translateY(50vh) scale(3);
}

#logo.center .logo-circle {
  stroke-dasharray: 157;
  animation: logo-draw 2s ease-in-out;
}

#logo.center .logo-text {
  opacity: 0;
  animation: logo-text-draw 0.3s ease 2s forwards;
}

@keyframes logo-draw {
  0% {
    stroke-dashoffset: 157;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes logo-text-draw {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Navbar, links, buttons */
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  z-index: 10;
  transition: all 0.2s ease-in-out;
}

#navbar.scroll {
  background-color: var(--bg-clr-transparent);
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.6);
  height: 70px;
}

.nav-logo {
  display: block;
}

.nav-logo:hover .logo-circle {
  fill-opacity: 1;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links a {
  margin: 0 1em;
  transition: var(--appear-tr);
}

.nav-links a:nth-child(1) {
  transition-delay: 100ms;
}
.nav-links a:nth-child(2) {
  transition-delay: 200ms;
}
.nav-links a:nth-child(3) {
  transition-delay: 300ms;
}
.nav-links a:nth-child(4) {
  transition-delay: 400ms;
}

.nav-links a.hidden {
  transform: translateY(-2rem);
  opacity: 0;
}

.nav-link {
  position: relative;
  font-family: monospace;
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: var(--fnt-sm);
  transition: color 0.2s ease-in-out;
}

.nav-link::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: -1rem;
  width: 100%;
  height: 2px;
  overflow: hidden;
  transform: scaleX(0);
  transform-origin: right;
  background-color: var(--lnk-clr);
  transition: transform 0.3s ease;
}

.nav-link:hover {
  color: var(--lnk-clr);
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.btn {
  width: fit-content;
  font-family: monospace;
  background-color: transparent;
  color: var(--lnk-clr);
  border: 1px solid var(--lnk-clr);
  border-radius: 5px;
  padding: 0.6em 1em;
  font-size: var(--fnt-sm);
  text-decoration: none;
  letter-spacing: 0.1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn:hover {
  background-color: var(--lnk-hover-clr);
}

#burger-link {
  display: flex;
  align-items: center;
  height: 40px;
  width: 40px;
  padding-top: 1.5rem;
  cursor: pointer;
  display: none;
  z-index: 100;
  transition: opacity 0.3s ease;
}

#burger-link.hidden {
  opacity: 0;
}

.burger {
  position: relative;
  height: 2px;
  width: 40px;
  background-color: var(--lnk-clr);
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 2px;
  background-color: var(--lnk-clr);
  transform-origin: 50%;
}

.burger::before {
  transform: translateY(-15px);
}

.burger::after {
  transform: translateY(15px);
}

#burger-link.clicked .burger {
  transition: transform 0.3s ease-in-out 0.3s;
  transform: rotate(360deg);
  background-color: transparent;
}

#burger-link.clicked .burger::before {
  animation: top-line 0.3s forwards;
}

#burger-link.clicked .burger::after {
  animation: bottom-line 0.3s forwards;
}

@keyframes top-line {
  50%,
  100% {
    transform: translateY(0);
  }
  100% {
    transform: rotate(45deg);
  }
}

@keyframes bottom-line {
  50%,
  100% {
    transform: translateY(0);
  }
  100% {
    transform: rotate(-45deg);
  }
}

/* Contact links */
#contact-links {
  position: fixed;
  left: 5rem;
  bottom: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  font-size: var(--fnt-lg);
  transition: var(--appear-tr);
  transition: all 0.5s ease-in-out;
}

#contact-links::after {
  content: "";
  display: block;
  width: 1px;
  background-color: var(--secondary-text-color);
  height: 10rem;
  margin: 0 auto;
}

#contact-links.hidden {
  opacity: 0;
  transform: translateY(10rem);
}

#contact-links i {
  color: var(--secondary-text-color);
  margin-bottom: 2rem;
  transition: color 0.2s ease-in;
}

#contact-links a:hover i {
  color: var(--lnk-clr);
}

#contact-links:hover::after {
  background-color: var(--lnk-clr);
}

/* Main */

.fade-in {
  opacity: 0;
  transform: translateY(5rem);
}

section {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 10rem 0;
}

section.hidden {
  opacity: 0;
}

.header {
  display: flex;
  font-size: var(--fnt-lg);
  line-height: var(--fnt-lg);
  margin-bottom: 4rem;
  white-space: nowrap;
}

.header::before {
  content: ">";
  margin-right: 1rem;
  font-size: var(--fnt-lg);
  color: var(--lnk-clr);
}

.header::after {
  content: "";
  position: relative;
  display: block;
  margin-left: 2rem;
  top: calc(var(--fnt-lg) / 2);
  width: 300px;
  height: 1px;
  background-color: var(--bg-clr-lighter);
}

/* Home */

#home {
  min-height: calc(100vh - 8rem);
}

.home-container p {
  font-size: var(--fnt-sm);
  font-family: monospace;
  color: var(--lnk-clr);
  margin-bottom: 2rem;
}

.home-container h1 {
  font-size: var(--fnt-xxl);
  font-weight: 800;
}

.home-container h1:nth-child(3) {
  color: var(--secondary-text-color);
}

.home-container h4 {
  font-size: var(--fnt-md);
  max-width: 40ch;
  margin: 2rem 0 4rem 0;
}

/* About */
.about-container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 3rem;
}

.about-content {
  max-width: 80ch;
}

.about-content p {
  font-size: var(--fnt-sm);
  margin-bottom: 2rem;
  line-height: 2.5rem;
}

.about-content a {
  color: var(--lnk-clr);
  text-decoration: none;
}

.about-content ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 2rem;
  font-size: var(--fnt-sm);
  color: var(--secondary-text-color);
}

.about-content li {
  list-style-type: ">";
}

.about-content li::marker {
  color: var(--lnk-clr);
}

.about-img {
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
}

.about-img img {
  width: 100%;
  border-radius: 5px;
  filter: grayscale();
  transition: filter 0.3s ease;
}

.about-img img:hover {
  filter: grayscale(0);
}

/* Projects */
.proj-container {
  position: relative;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 3rem;
  z-index: 0;
  margin: 5rem auto;
  grid-template-areas: "grid-img grid-content";
}

.proj-container.reverse {
  grid-template-columns: 2fr 3fr;
  grid-template-areas: "grid-content grid-img";
}

.proj-img {
  grid-area: grid-img;
  width: 100%;
  z-index: 1;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: var(--shadow);
}

.proj-img img {
  filter: grayscale(1);
  height: 100%;
  width: 100%;
  transition: filter 0.1s ease-in;
  object-fit: cover;
  object-position: center center;
}

.proj-img a {
  display: block;
  width: 100%;
  height: 100%;
}

.proj-img a:hover img {
  filter: grayscale(0);
}

.proj-content {
  grid-area: grid-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}

.proj-content.reverse {
  align-items: flex-start;
  text-align: left;
}

.proj-title > p {
  font-family: monospace;
  font-size: var(--fnt-sm);
  color: var(--lnk-clr);
}

.proj-title h1 {
  font-size: var(--fnt-lg);
  margin-bottom: 2rem;
}

.proj-desc {
  font-size: var(--fnt-sm);
  background-color: var(--bg-clr-darker);
  padding: 1em;
  width: 120%;
  z-index: 2;
  border-radius: 3px;
  box-shadow: var(--shadow);
  margin-bottom: 2rem;
}

.proj-tech {
  font-family: monospace;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: 1.3rem;
  font-weight: lighter;
  color: var(--primary-text-color);
  margin-bottom: 2rem;
}

.proj-links i {
  font-size: var(--fnt-lg);
  color: var(--primary-text-color);
  margin: 0 0.5rem;
  transition: color 0.3s ease-in-out;
}

.proj-links a:hover i {
  color: var(--lnk-clr);
}

.other-projects {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.op-header {
  font-size: var(--fnt-lg);
  margin: 10rem 0 5rem;
  text-align: center;
}

.op-container {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3em;
  background-color: var(--bg-clr-darker);
  border-radius: 3px;
  box-shadow: var(--shadow);
  transition: transform 0.3s ease;
}

.op-container:hover {
  transform: translateY(-0.5rem);
}

.op-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

.op-head > i {
  color: var(--lnk-clr);
  font-size: var(--fnt-xl);
}

.op-body h1 {
  font-size: var(--fnt-lg);
  margin-bottom: 1rem;
}

.op-body p {
  font-size: var(--fnt-sm);
  margin-bottom: 2rem;
}

/* Contact */

.contact-container {
  min-height: 50em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20rem;
}

.contact-container h1 {
  text-align: center;
  font-size: var(--fnt-xxl);
  margin-bottom: 10rem;
}

.contact-container a {
  margin: 2rem 0;
  font-size: var(--fnt-md);
}

#contact-links.footer {
  position: absolute;
  flex-direction: row;
  left: calc(50% - 15rem);
  font-size: var(--fnt-xl);
  bottom: 3rem;
  animation: linksAnim 0.7s ease-in;
}

@keyframes linksAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#contact-links.footer::after {
  transform: scaleY(0);
}

#contact-links.footer i {
  width: 10rem;
  margin: 0;
  text-align: center;
}

.page-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3rem;
  text-align: center;
  font-size: var(--fnt-sm);
  line-height: 3rem;
  color: var(--primary-text-color);
}

/* Responsive */
@media screen and (max-width: 1250px) {
  #main {
    padding: 0 10rem;
  }
}

@media screen and (max-width: 1024px) {
  #main {
    padding: 0 5rem;
  }
}

@media screen and (max-width: 850px) {
  .header::after {
    width: 100%;
  }

  .about-container {
    display: flex;
    flex-direction: column;
  }

  .about-img {
    max-width: 300px;
  }

  .proj-container {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-clr-darker);
    border-radius: 3px;
    box-shadow: var(--shadow);
    padding: 2rem;
  }

  .proj-img {
    box-shadow: none;
    border-radius: 0;
  }

  .proj-desc {
    background-color: transparent;
    box-shadow: none;
    width: 100%;
    padding: 0;
  }

  #burger-link {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column;
    height: 100vh;
    width: 60%;
    background-color: var(--bg-clr-darker);
    justify-content: space-between;
    padding: 30vh 0;
    box-shadow: -10px 0 30px -15px rgba(0, 0, 0, 0.6);
    transform: translateX(100vw);
  }

  .nav-links.show {
    transform: translateX(0);
  }

  #main.blur {
    filter: blur(5px) brightness(0.7);
    user-select: none;
  }

  #logo {
    transform: scale(0.8);
  }

  #burger-link {
    transform: scale(0.8);
  }
}

@media screen and (max-width: 500px) {
  #main {
    padding: 2rem;
  }

  #navbar {
    padding: 0 2rem;
  }

  #logo.center {
    transform: translateX(calc(50vw - 5rem)) translateY(40vh) scale(3);
  }

  .about-content ul {
    padding: 0 1rem;
  }
}
